body {
	margin: 0;
	background: black;
}

canvas {
	margin: 0;
	position: absolute;
	width: 100%;
	height: auto;
}

.circle-avatar {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	top: 20%;
	z-index: 10;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom-footer {
	position: absolute;
	width: 800px;
	height: 200px;
	top: 90%;
	left: 20%;
	z-index: 10;
}

.bottom-footer-img {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	top: 90%;
	left: 50%;
	z-index: 10;
}

.circle-avatar img {
	margin: auto;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

.text-centers {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 10%;
	z-index: 10;
}

.fixed-bottom-center {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	/* 设置背景颜色 */
	padding: 10px;
	/* 可根据需要设置内边距 */
	z-index: 1000;
}

.text-centers span {
	max-width: 100%;
	font-family: "Microsoft Yahei", sans-serif;
	color: white;
	font-size: 60px;
	letter-spacing: 20px;
}
.bottom-footer span{
	display: flex;
	position: absolute;
	margin: auto;
	align-items: center; /* 垂直居中 */
	z-index: 10;
	font-family: "Microsoft Yahei", sans-serif;
	color: white;
	font-size: 50px;
	letter-spacing: 5px;
}