body {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    min-height: 100vh;
}

main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-link px-2 link-dark
.search-btn input {
    display: inline-block;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

#tab-info ul li a {
    class: nav-link px-2 link-dark;
}

.input-group {
    display: flex;
}

.form-group .form-control {
    border-radius: 0 !important;
    border-left: 0 !important;
    box-shadow: none !important;
}
#box-left-top{
	width: 50px;
	height: 50px;
}

#tab-title .link-secondary {
    color: #6c757d !important;
}

.search-btn {
    border-radius: 0 8px 8px 0;
    background: #0084ff;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 22px;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
